<footer class="footer bg-dk py-3 mt-auto">
<div class="container">
<span class="text-muted">&copy ExplorinAmerica 2021</span> <br/>
<a href="https://icons8.com/icon/30539/usa">USA icon by Icons8</a> <br/>
<a href="https://icons8.com/icon/30489/canada">Canada icon by Icons8</a><br/>
</div>
</footer>