<nav class="navbar navbar-expand-lg bg-info">
<div class="container-fluid">
<a class="navbar-brand text-white" href="/campgrounds">ExplorinAmerica</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

<div class="navbar-collapse" id="navbarSupportedContent">

<div class="container-fluid p-2">
<form action="/campgrounds" method="GET" class="form-inline">
            
            <div class="row">
              <div class="col-10 p-0"><input class="form-control"type="search" name="search"></div>
              <div class="col-2 p-0" ><button class="btn bg-dark text-white" type="submit">Search</button></div>
            </div>
            
          </form>
</div>
<div class="nav-item dropdown p-2">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            USA
          </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/campgrounds/state/Alabama">Alabama</a></li>
              <li><a class="dropdown-item" href="/camgprounds/state/Alaska">Alaska</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/Arizona">Arizona</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/Arkansas">Arkansas</a></li>

              <li><a class="dropdown-item" href="/campgrounds/state/California">California</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/Colorado">Colorado</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/Connecticut">Connecticut</a></li>

              <li><a class="dropdown-item" href="/campgrounds/state/Delaware">Delaware</a></li>

              <li><a class="dropdown-item" href="/campgrounds/state/Florida">Florida</a></li>

              <li><a class="dropdown-item" href="/campgrounds/state/Georgia">Georgia</a></li>

              <li><a class="dropdown-item" href="/campgrounds/state/Hawaii">Hawaii</a></li>

              <li><a class="dropdown-item" href="/campgrounds/state/Idaho">Idaho</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/Illinois">Illinois</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/Indiana">Indiana</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/Iowa">Iowa</a></li>

              <li><a class="dropdown-item" href="/campgrounds/state/Kansas">Kansas</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/Kentucky">Kentucky</a></li>

               <li><a class="dropdown-item" href="/campgrounds/state/Louisiana">Louisiana</a></li>
            
              <li><a class="dropdown-item" href="/campgrounds/state/Maine">Maine</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/Maryland">Maryland</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/Massachusets">Massachusets</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/Michigan">Michigan</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/Michigan">Mississippi</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/Minnesota">Minnesota</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/Missouri">Missouri</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/Montana">Montana</a></li>

              <li><a class="dropdown-item" href="/campgrounds/state/Nebraska">Nebraska</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/Nevada">Nevada</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/New Hampshire">New Hampshire</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/New Jersey">New Jersey</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/New Mexico">New Mexico</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/New York">New York</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/North Carolina">North Carolina</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/North Dakota">North Dakota</a></li>

              <li><a class="dropdown-item" href="/campgrounds/state/Ohio">Ohio</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/Oklahoma">Oklahoma</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/Oregon">Oregon</a></li>


              <li><a class="dropdown-item" href="/campgrounds/state/Pennsylvania">Pennsylvania</a></li>

              <li><a class="dropdown-item" href="/campgrounds/state/Rhode Island">Rhode Island</a></li>

              <li><a class="dropdown-item" href="/campgrounds/state/South Carolina">South Carolina</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/South Dakota">South Dakota</a></li>

              <li><a class="dropdown-item" href="/campgrounds/state/Tennessee">Tennessee</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/Texas">Texas</a></li>

              <li><a class="dropdown-item" href="/campgrounds/state/Utah">Utah</a></li>

              <li><a class="dropdown-item" href="/campgrounds/state/Vermont">Vermont</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/Virginia">Virginia</a></li>

              <li><a class="dropdown-item" href="/campgrounds/state/Washington">Washington</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/West Virginia">West Virginia</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/Wisconsin">Wisconsin</a></li>
              <li><a class="dropdown-item" href="/campgrounds/state/Wyoming">Wyoming</a></li>
            </ul>
        </div>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Canada
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/campgrounds/state/British Columbia">British Columbia</a></li>
            <li><a class="dropdown-item" href="/campgrounds/state/Alberta">Alberta</a></li>
            <li><a class="dropdown-item" href="/campgrounds/state/Saskatchewan">Saskatchewan</a></li>
            <li><a class="dropdown-item" href="/campgrounds/state/Ontario">Ontario</a></li>
            <li><a class="dropdown-item" href="/campgrounds/state/Quebec">Quebec</a></li>
            <li><a class="dropdown-item" href="/campgrounds/state/Nova Scotia">Nova Scotia</a></li>
            <li><a class="dropdown-item" href="/campgrounds/state/New Brunswick">New Brunswick</a></li>
            <li><a class="dropdown-item" href="/campgrounds/state/Labrador">Labrador</a></li>
            <li><a class="dropdown-item" href="/campgrounds/state/Newfoundland">Newfoundland and Labrador</a></li>
            <li><a class="dropdown-item" href="/campgrounds/state/Toronto">Toronto</a></li>
            <li><a class="dropdown-item" href="/campgrounds/state/Yukon">Yukon</a></li>
            <li><a class="dropdown-item" href="/campgrounds/state/Manitoba">Manitoba</a></li>
            <li><a class="dropdown-item" href="/campgrounds/state/Northwest Territories">Northwest Territories</a></li>
            <li><a class="dropdown-item" href="/campgrounds/state/Nunavut">Nunavut</a></li>
            <li><a class="dropdown-item" href="/campgrounds/state/Prince Edward Island">Prince Edward Island</a></li>
          </ul>
        </div>
 <div class="nav-item">
          <a class="nav-link text-white" href="/campgrounds/new">Add Campground</a>
        </div>
 <% if(!currentUser){ %>
            <div class="nav-item">
              <a class="nav-link text-white" href="/login">Login</a>  
            </div>
            <% } else { %> 
            <div class="nav-item">  
              <a class="nav-link text-white" href="/logout">Logout</a>
            </div> 
            <% } %>
</div>

</div>
</nav>
